<main class="min-height">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Trends</h2>
        <h3 class="section-subheading text-muted">Trending GitHub Repositories</h3>
        <button *ngIf="authService?.isAdmin()" class="btn btn-primary" (click)="postTrendingGitHubRepos()" [disabled]="isLoading && authService?.isAdmin()">Admin Reload</button>
      </div>
      <div class="col-lg-12">
        <div class="my-5" *ngFor="let item of items | async">
          <!-- Edit Mode -->
          <app-edit-mode class="text-sm-right" [data]="item"></app-edit-mode>
          <a [title]="item?.name" class="break-word d-inline-block" [href]="item?.url" target="__blank"><h4>{{item?.name}}</h4></a>
          <p class="card-text mb-auto break-word">{{item?.description}}</p>
        </div>
      </div>
    </div>
  </div>
</main>
