<main class="min-height-100vh bg-light" id="portfolio">
  <section class="image-background">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase ventrips">Reviews</div>
          <div class="intro-lead-in">{{environment.slogan}}</div>
        </div>
      </div>
    </header>
  </section>
  <!-- <cdk-virtual-scroll-viewport itemSize="100">
    <div class="container py-5">
      <li *cdkVirtualFor="let p of people;" class="animated slideInRight">
        <h2>{{ p.emoji }} {{ p.name }}</h2>
        <p> {{ p.bio }} </p>
      </li>
    </div>
  </cdk-virtual-scroll-viewport> -->
</main>
