<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="row">
        <div class="col-12" *ngFor="let key of keys">
          <h5 class="text-capitalize my-2">{{key}} <span class="text-danger">*</span></h5>
          <div *ngIf="!_.isArray(data[key])">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-check" [class.text-success]="!_.isEmpty(data[key])"></i></span>
              </div>
              <input [type]="getInputType(key)" class="form-control" placeholder="Add {{key}}" [(ngModel)]="data[key]" [required]="true">      
            </div>
          </div>
          <div class="row" *ngIf="_.isArray(data[key])">
            <div class="col-12" *ngFor="let item of data[key]; let index = index; trackBy: customTrackBy">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-check" [class.text-success]="!_.isEmpty(data[key])"></i></span>
                </div>
                <input [type]="getInputType(key)" class="form-control" placeholder="Add {{key}}" aria-label="Add Input"
                [(ngModel)]="data[key][index]" [required]="true">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" (click)="deleteInput(key, index)"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-check" [class.text-success]="!_.isEmpty(data[key][index + 1])"></i></span>
                </div>
                <input [type]="getInputType(key)" class="form-control" placeholder="Add {{key}}" aria-label="Add Input"
                [(ngModel)]="data[key][index + 1]" name="key-{{index}}" [required]="true">
                <div class="input-group-append">
                  <button
                  class="btn" 
                  [ngClass]="{ 'btn-primary': !_.isEmpty(data[key][index + 1]), 'btn-secondary': _.isEmpty(data[key][index + 1]) }"
                  [disabled]="_.isEmpty(data[key][index + 1])"
                  type="button" (click)="addInput(key, data[key][index + 1]); data[key][index + 1] = undefined"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h4>JSON Preview</h4>
      <pre class="bg-light p-5">{{data | json}}</pre>
    </div>
  </div>
</div>
<div class="modal-footer d-flex flex-wrap">
  <button *ngIf="!isNew" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
  <!-- <button type="button" class="btn btn-light ml-auto" (click)="dismiss()">Cancel</button> -->
  <button type="button" class="btn ml-auto" (click)="save()"
    [ngClass]="{ 'btn-primary': isValid(), 'btn-secondary': !isValid() }"
    [disabled]="!isValid()">Save
  </button>
</div>