<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright" [class.custom-text-white]="showInverse()">
          Copyright <i class="far fa-copyright"></i> 2018 <a title="Johnson Huynh" [routerLink]="['/johnson-huynh']">Johnson Huynh</a>
        </span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item" *ngFor="let social of socialMedia">
            <a [title]="social.name" [href]="social.url" target="__blank">
              <i class="fab {{social.class}}"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a title="Privacy Policy" [routerLink]="['/privacy']">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a title="Terms of Use" [routerLink]="['/terms']">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>