<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Ventrips 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a title="Twitter" href="https://twitter.com/ventrips" target="__blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a title="Facebook" href="https://www.facebook.com/OfficialVentrips" target="__blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a title="Instagram" href="https://www.instagram.com/ventrips/" target="__blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a title="Privacy Policy" [routerLink]="['/privacy']">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a title="Terms of Use" [routerLink]="['/terms']">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>