<section class="min-height">
  <div class="container">
    <div class="row" *ngIf="!_.isNil(detail)">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase break-word">{{(detail | async)?.name}}</h2>
        </div>
        <div class="col-lg-6">
          <h5>
            <a class="text-muted font-italic text-uppercase" [routerLink]="['/category', (detail | async)?.category]">
              {{(detail | async)?.category}}
            </a>
          </h5>
          <p class="section-subheading text-muted">{{(detail | async)?.description}}</p>
          <div class="my-5 text-center text-sm-left">
            <a class="btn btn-primary custom-text-black btn-xl text-uppercase" [href]="(detail | async)?.url" target="__blank">
              <div class="d-flex justify-self-sm-center">
                <span class="align-self-center mr-3">Buy on Amazon</span>
                <i class="fab fa-amazon fa-2x ml-auto"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid" [src]="(detail | async)?.imageUrl" alt="">
        </div>
    </div>
    <app-error-not-found *ngIf="_.isNil(detail)"></app-error-not-found>
  </div>
</section>