<nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'black-navbar': !isHome()}" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Ventrips</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/home')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/trends')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/trends']">Trends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/blog')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/portfolio')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/about')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/contact')}"
            data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>