.black-navbar {
    background-color: #212529 !important;
}

.avatar {
    width: auto;
    height: 2.5em;
    padding: 0;
}

.nav-item.dropdown {
    padding: 0.6em 0;

    .nav-link.dropdown-toggle {
        padding: 0 !important;
    }
    .nav-link.dropdown-toggle::after {
        margin-left: 1em;
    }
    .dropdown-menu.show {
        left: 3.3em;
    }
}

.navbar-shrink {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
