<div class="video-background">
    <div class="video-foreground">
      <iframe id="myVideo" class="w-100 h-100" src="https://www.youtube.com/embed/ZCDY0SmSIrI?showinfo=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="d-flex flex-column h-100">
  <header class="container my-3">
    <div class="inner">
      <h3 class="text-white">VENTRIPS</h3>
      <nav class="nav nav-masthead justify-content-center">
        <!-- <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a> -->
      </nav>
    </div>
  </header>
  <div class="w-100 h-fill">
    <router-outlet></router-outlet>
  </div>
  <footer class="container my-3">
    <div class="inner text-right">
      <p class="text-white">By Johnson Huynh</p>
    </div>
  </footer>
</div>