<div class="min-height">
  <!-- d-none d-md-block -->
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/ZCDY0SmSIrI?showinfo=0&controls=0&rel=0&autoplay=1&loop=1&mute=1&modestbranding=1&playlist=ZCDY0SmSIrI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To</div>
        <div class="intro-heading text-uppercase ventrips">Ventrips</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" [routerLink]="['/products']">
          Search for Products
        </a>
      </div>
    </div>
  </header>
</div>
