<main class="min-height-100vh bg-light" id="portfolio">
  <section class="image-background">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase ventrips">{{environment.name}}</div>
          <div class="intro-lead-in">{{environment.slogan}}</div>
        </div>
      </div>
    </header>
  </section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div id="amzn-assoc-ad-c7ff1457-d243-4c60-af84-c5eb24e84b18"></div>
      </div>
      <div class="col-lg-12">
        <div class="form-group position-relative">
            <input
              type="text"
              id="typeahead-config"
              class="form-control form-control-lg mb-4"
              aria-label="Search for products"
              placeholder="Search for products"
              [(ngModel)]="searchTerm"
              [ngbTypeahead]="search"
            />
            <div class="feedback-icon">
              <i class="fas fa-search custom-text-dark"></i>
            </div>
        </div>
        <hr class="my-0">
      </div>
      <!-- Loading finished -->
      <ng-container *ngIf="!isLoading">
        <div class="col-12">
          <div class="d-flex flex-wrap">
            <div class="my-4">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary custom-text-dark" id="order-by-dropdown" ngbDropdownToggle>
                  {{ selectedOrderBy?.label ? selectedOrderBy?.label : 'Relevance' }}
                </button>
                <div ngbDropdownMenu aria-labelledby="order-by-dropdown">
                  <button
                    class="dropdown-item"
                    [class.cursor-pointer]="selectedOrderBy"
                    [class.active]="!selectedOrderBy"
                    [disabled]="!selectedOrderBy"
                    (click)="selectedOrderBy = undefined">
                    Relevance
                  </button>
                  <button
                    class="dropdown-item cursor-pointer"
                    [class.cursor-pointer]="option !== selectedOrderBy"
                    [class.active]="option === selectedOrderBy"
                    [disabled]="option === selectedOrderBy" *ngFor="let option of orderByOptions"
                    (click)="selectedOrderBy = option">
                    {{option.label}}
                </button>
                </div>
              </div>
            </div>
            <div class="ml-auto my-4 align-self-center">
              <h5 class="font-weight-bold text-capitalize">{{(products | searchBy: searchTerm).length}} Results</h5>
            </div>
          </div>
        </div>
        <!-- No results -->
        <ng-container *ngIf="_.isEmpty((products | searchBy: searchTerm))">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Sorry!</h2>
            <p class="section-subheading text-muted">We couldn't find anything with these search terms.
              <span class="cursor-pointer custom-text-yellow" (click)="searchTerm = undefined">Clear and search again</span>!
            </p>
          </div>
        </ng-container>
        <!-- Results found -->
        <ng-container *ngIf="!_.isEmpty((products | searchBy: searchTerm))">
          <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item"
            *ngFor="let product of (products | searchBy: searchTerm | orderBy: selectedOrderBy?.type: selectedOrderBy?.direction)">
              <!-- Edit Mode -->
              <app-edit-mode *ngIf="authService.isAdmin()" class="text-sm-left" [id]="product?.id" [collection]="collection" [title]="product?.name" [data]="product"></app-edit-mode>
              <a [title]="product.name" class="portfolio-link custom-bg-white" [routerLink]="['/products', product?.id]">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <!-- <i class="fas fa-link fa-3x"></i> -->
                  </div>
                </div>
                <div class="text-center product-image">
                  <img [src]="product.images[0]" alt="">
                </div>
              </a>
              <div class="portfolio-caption">
                <h5
                  class="product-name my-3"
                  style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
                  <a [title]="product.name" class="custom-text-black text-capitalize" [routerLink]="['/products', product?.id]">{{product.name}}</a>
                </h5>
                <div class="text-center text-sm-left">
                  <a title="Buy on Amazon" class="btn btn-primary custom-text-black btn-md btn-block text-uppercase" [href]="product?.url" target="__blank">
                    <div class="d-flex justify-self-sm-center">
                      <span class="align-self-center mr-3">Buy on Amazon</span>
                      <i class="fab fa-amazon fa-2x ml-auto"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>
