<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Travel Gear</h2>
        <h3 class="section-subheading text-muted mb-5">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="col-lg-12">
        <label for="typeahead-config">Search for a state:</label>
        <input id="typeahead-config" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item" *ngFor="let product of products | async">
        <a class="portfolio-link custom-bg-white" [routerLink]="['/products', product?.category, product?.id]">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <!-- <i class="fas fa-link fa-3x"></i> -->
            </div>
          </div>
          <div class="text-center product-image">
            <img [src]="product.imageUrl" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <div>
            <a class="text-muted font-italic text-capitalize" [routerLink]="['/products', product?.category]">
              {{product.category}}
            </a>
          </div>
          <h5
            [title]="product.name"
            class="product-name my-3"
            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
            <a class="custom-text-black text-capitalize" [routerLink]="['/products', product?.category, product?.id]">{{product.name}}</a>
          </h5>
          <div class="text-center text-sm-left">
            <a class="btn btn-primary custom-text-black btn-md btn-block text-uppercase" [href]="product?.url" target="__blank">
              <div class="d-flex justify-self-sm-center">
                <span class="align-self-center mr-3">Buy on Amazon</span>
                <i class="fab fa-amazon fa-2x ml-auto"></i>
              </div>
            </a>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
