<main class="min-height-100vh bg-light" id="portfolio">
  <section class="image-background">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase ventrips">Products</div>
          <div class="intro-lead-in">{{environment.slogan}}</div>
        </div>
      </div>
    </header>
  </section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group position-relative">
          <input type="text" id="typeahead-config" class="form-control form-control-lg mb-4" aria-label="Search for products" placeholder="Search for products"
            [(ngModel)]="searchTerm" [ngbTypeahead]="search" />
          <div class="feedback-icon">
            <i class="fas fa-search custom-text-dark"></i>
          </div>
        </div>
        <hr class="my-0">
      </div>
      <!-- Loading finished -->
      <ng-container *ngIf="!isLoading">
        <div class="col-12">
          <div class="d-flex flex-wrap">
            <div class="my-4">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary custom-text-dark" id="order-by-dropdown" ngbDropdownToggle>
                  {{ selectedOrderBy?.label ? selectedOrderBy?.label : 'Relevance' }}
                </button>
                <div ngbDropdownMenu aria-labelledby="order-by-dropdown">
                  <button class="dropdown-item" [class.cursor-pointer]="selectedOrderBy" [class.active]="!selectedOrderBy" [disabled]="!selectedOrderBy"
                    (click)="selectedOrderBy = undefined">
                    Relevance
                  </button>
                  <button class="dropdown-item cursor-pointer" [class.cursor-pointer]="option !== selectedOrderBy" [class.active]="option === selectedOrderBy"
                    [disabled]="option === selectedOrderBy" *ngFor="let option of orderByOptions" (click)="selectedOrderBy = option">
                    {{option.label}}
                  </button>
                </div>
              </div>
            </div>
            <div class="ml-auto my-4 align-self-center">
              <h5 class="font-weight-bold text-capitalize">{{(products | searchBy: searchTerm).length}} Results</h5>
            </div>
          </div>
        </div>
        <!-- Create New -->
        <div class="col-12" *ngIf="authService.isAdmin()">
          <app-edit-mode class="text-sm-right" [isNew]="true" [collection]="collection"></app-edit-mode>
        </div>

        <!-- No results -->
        <ng-container *ngIf="_.isEmpty((products | searchBy: searchTerm))">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Sorry!</h2>
            <p class="section-subheading text-muted">We couldn't find anything with these search terms.
              <span class="cursor-pointer custom-text-yellow" (click)="searchTerm = undefined">Clear and search again</span>!
            </p>
          </div>
        </ng-container>
        <!-- Results found -->
        <ng-container *ngIf="!_.isEmpty((products | searchBy: searchTerm))">
          <div class="col-xs-12 col-md-6 col-xl-4 portfolio-item" *ngFor="let product of (products | searchBy: searchTerm | orderBy: selectedOrderBy?.type: selectedOrderBy?.direction)">
            <!-- Edit Mode -->
            <app-edit-mode *ngIf="authService.isAdmin()" class="text-sm-left" [id]="product?.id" [collection]="collection" [title]="product?.title"
              [data]="product"></app-edit-mode>
            <div class="card mb-4 box-shadow product-card">
              <a [title]="product?.title" class="product-card-link" [routerLink]="[collection, product?.id]">
                <img class="card-img-top product-card-image" [src]="product?.thumbnail" [alt]="product?.title">
              </a>
              <div class="card-body product-card-body">
                <h6>
                  <a [title]="product?.category" class="text-capitalize" [routerLink]="['/']" [queryParams]="{ category: product?.category}">
                    {{product?.category}}
                  </a>
                </h6>
                <h6 class="text-secondary text-capitalize">{{product?.dateCreated | date: 'medium'}}</h6>
                <h4 class="product-card-title" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; max-height: 6em;">
                  <a [title]="product?.title" class="custom-text-black text-capitalize" [routerLink]="[collection, product?.id]">{{product?.title}}</a>
                </h4>
                <h6 class="text-secondary text-capitalize">{{product?.author}}</h6>
                <!-- <p class="card-text product-card-content" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; max-height: 4em;"
                  [innerHTML]="product?.content">
                </p> -->
                <!-- Share Buttons -->
                <share-buttons [theme]="'default'" [include]="['facebook','twitter', 'google', 'copy']" [showCount]="true" [size]="1" url="{{environment.url}}/{{collection}}/{{product?.id}}"
                  [autoSetMeta]="true"></share-buttons>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</main>