.introduction-background {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.1),
        rgba(0,0,0, 0.3)
    ),
    url(./../../../assets/img/las-vegas-min.jpg) no-repeat center fixed;
    background-size: cover;
}

.portfolio-background {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.1),
        rgba(0,0,0, 0.1)
    ),
    url(./../../../assets/img/zion-national-park-min.jpg) no-repeat center fixed;
    background-size: cover;
}

.videography-background {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.1),
        rgba(0,0,0, 0.1)
    ),
    url(./../../../assets/img/horse-shoe-bend-min.jpg) no-repeat center fixed;
    background-size: cover;
}

#portfolio .card,
#videography iframe {
    min-height: 250px;
}

/* Coding Icon Colors */

.fa-html5 {
    color: #E16D3B;
}

.fa-css3 {
    color: #51A7DA;
}

.fa-js {
    color: #EAC14B;
}

.fa-angular {
    color: #B42934;
}

.fa-node {
    color: #96BD53;
}

.fa-npm {
    color: #B7423C;
}

.fa-git {
    color: #DF5B40;
}
