<main class="min-height-100vh">
  <section class="portfolio-background">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase ventrips">
            Nice to meet you!
          </div>
          <h4>
            My name is Johnson Huynh
          </h4>
          <p>
            I am a Senior Software Engineer &amp; UX/UI Designer with a demonstrated history of working on web applications.
          </p>
        </div>
      </div>
    </header>
  </section>
  <!-- Portfolio -->
  <section>
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Portfolio</h2>
      <p class="text-center">Here are my featured works</p>
      <div class="row">
        <div class="col-lg-12 text-center">
        </div>
      </div>
    </div>
  </section>
  <!-- Videography -->
  <section id="videography" class="bg-light">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Videography</h2>
      <p class="text-center">I like to make travel videos. Let's Ventrove It!</p>
      <div class="row">
        <div class="col-xs-12 col-md-6" *ngFor="let youTubeUrl of youTubeUrls">
          <iframe class="mb-4" [src]="youTubeUrl" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
