.introduction-background {
    background: url(./../../../assets/img/las-vegas-min.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.portfolio-background {
    background: url(./../../../assets/img/zion-national-park-min.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.videography-background {
    background: url(./../../../assets/img/horse-shoe-bend-min.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#portfolio .card,
#videography iframe {
    height: 250px;
}
