<main class="min-height-100vh bg-light">
  <section class="portfolio-background">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase ventrips">
            Nice to meet you!
          </div>
          <h4>
            My name is Johnson Huynh
          </h4>
          <p>
            I am a Senior Software Engineer &amp; UX/UI Designer with a demonstrated history of working on the web. I am skilled in Mobile Applications, Web Design, HTML, Adobe Photoshop, and User Experience Design. Strong information technology professional with a Bachelor of Science focused in Human Centered Design & Engineering, Human-Computer Interaction from University of Washington.
          </p>
        </div>
      </div>
    </header>
  </section>
  <div class="container py-5">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
    </div>
  </div>
</main>
