<main class="min-height-100vh">
  <div class="animated fadeIn">
    <section class="introduction-background bg-dark">
      <header class="masthead animated slideInLeft" *ngIf="!isLoading">
        <div class="container">
          <div class="intro-text">
            <h2 class="text-capitalize text-shadow mb-5">
              Hey!
              <!-- <span class="d-inline-block animated tada delay-1s">👋</span> -->
              My Name is
            </h2>
            <h1 class="intro-heading text-light text-uppercase text-shadow">
              Johnson Huynh
            </h1>
            <h2 class="text-capitalize text-shadow">
              I am a
              <span>Full-Stack Developer</span>
              &amp;
              <span>UX/UI Designer</span>
              <br> with a Demonstrated History of Working on Web Applications 
            </h2>
          </div>
        </div>
      </header>
    </section>
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio-background bg-dark">
      <div class="container" *ngIf="!isLoading">
        <div>
          <h1 class="text-center text-light text-uppercase text-shadow">
            Portfolio
            <!-- <span class="d-inline-block">👨🏻‍💻</span> -->
          </h1>
          <h4 class="text-center text-capitalize text-light text-shadow my-5">
            My Featured Works. Here is my
            <a class="text-underline d-inline-block" [href]="environment.pdf.resumeUrl" target=__blank>
              Resume
            </a>
          </h4>    
        </div>
        <div class="row mt-4 animated fadeInRight" *ngIf="!_.isEmpty(portfolio)">
          <div class="col-xs-12 col-lg-6" *ngFor="let work of portfolio; let odd = odd">
            <div class="card w-100 rounded-0 box-shadow mb-4"> <!-- [routerLink]="['works', work?.id]" -->
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h3 class="card-title text-uppercase">{{work?.title}}</h3>
                <p class="card-text">{{work?.description}}</p>
              </div>
              <div class="card-footer">
                <h5 class="text-capitalize">Skills</h5>
                <span *ngFor="let skill of work?.skills">
                  <i title="{{_.upperCase(skill)}}" class="fab fa-{{_.toLower(skill)}} fa-2x mr-2"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Videography -->
    <section id="videography" class="videography-background bg-dark">
      <div class="container" *ngIf="!isLoading">
        <div>
          <h1 class="text-center text-uppercase text-light text-shadow">
            Videography
            <!-- <span class="d-inline-block">🎥</span> -->
          </h1>
          <h4 class="text-light text-capitalize text-center text-shadow my-5">I like to make travel videos. Let's <a class="text-underline d-inline-block" [href]="youTubeChannelUrl" target=__blank>Ventrove</a> It!</h4>    
        </div>
        <div class="row mt-4 animated fadeInDown" *ngIf="!_.isEmpty(videography)">
          <div class="col-xs-12 col-lg-6 animated" [ngClass]="{'slideInRight': odd, 'slideInLeft': !odd }" *ngFor="let videoUrl of videography; let odd = odd">
            <iframe class="w-100 box-shadow mb-4" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
