<iframe id="myVideo" class="w-100 h-100" src="https://www.youtube.com/embed/ZCDY0SmSIrI?controls=0&showinfo=0&rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

<!-- <main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome to VENTRIPS</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main> -->