<main id="articles" class="min-height-100vh">
  <section class="container" *ngIf="!isLoading">
    <!-- No results -->
    <div class="row" *ngIf="_.isEmpty(article)">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Sorry...</h2>
        <p class="section-subheading text-muted">No results found.</p>
      </div>
    </div>
    <!-- Results -->
    <div class="row" *ngIf="!_.isEmpty(article)">
      <div class="col-12">
        <!-- Edit Mode -->
        <div class="my-2" *ngIf="authService.isAdmin()" >
          <button *ngIf="!isEdit" class="btn btn-primary btn-md" (click)="isEdit = true; articleCopy = _.cloneDeep(article);">
            <i class="mr-2 fa fa-pen"></i> <span>Edit</span>
          </button>
          <button *ngIf="isEdit" class="btn btn-outline-dark btn-md" (click)="isEdit = false; articleCopy = undefined">
            <i class="mr-2 fa fa-times"></i> <span>Cancel</span>
          </button>
        </div>  
        <!-- Edit Mode: OFF -->
        <ng-container *ngIf="!isEdit">
          <!-- Bread Crumbs -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb custom-bg-white d-inline-block px-0">
              <li class="breadcrumb-item">
                <a title="Back to {{collection}}" [routerLink]="['/', collection]">
                  <i class="fa fa-angle-double-left"></i> Back to <span class="text-capitalize">{{collection}}</span></a>
              </li>
            </ol>
          </nav>
          <!-- Category -->
          <h6>
            <a [title]="article?.category" class="text-capitalize" [routerLink]="['/']" [queryParams]="{ category: article?.category}">
              {{article?.category}}
            </a>
          </h6>
          <!-- Created -->
          <h6 class="text-secondary text-capitalize">{{article?.created | date: 'medium'}}</h6>
          <small>
            <a class="text-muted text-capitalize" [routerLink]="['/authors', article?.uid]">{{article?.displayName}}</a>
          </small>
          <!-- Title -->
          <h4 class="custom-text-black text-capitalize">
            {{article?.title}}
          </h4>
          <!-- Content -->
          <p [innerHTML]="article?.content"></p>
          <!-- Share Buttons -->
          <share-buttons [theme]="'default'"
          [include]="['facebook','twitter', 'google', 'copy', 'email', 'sms','messenger','telegram', 'reddit', 'tumblr', 'pinterest', 'linkedin', 'whatsapp', 'vk','stumble','xing', 'print']"
          [exclude]="['email', 'sms','messenger','telegram', 'reddit', 'tumblr', 'pinterest', 'linkedin', 'whatsapp', 'vk','stumble','xing', 'print']"
          [show]="4"
          [showText]="true"
          [showCount]="true"
          [size]="1"
          url="{{environment.url}}{{url}}"
          [autoSetMeta]="true"
          ></share-buttons>
        </ng-container>
        <!-- Edit Mode: ON -->
        <ng-container *ngIf="isEdit">
          <!-- Category -->
          <h4 class="mb-2">Category</h4>
          <input type="text" class="form-control mb-2" placeholder="Add a category" [(ngModel)]="articleCopy.category">
          <!-- Title -->
          <h4>Title</h4>
          <input type="text" class="form-control mb-2" placeholder="Add a title" [(ngModel)]="articleCopy.title">      
          <!-- Content -->
          <h4>Content</h4>
          <quill-editor class="mb-2" [(ngModel)]="articleCopy.content"></quill-editor>
          <!-- Edit Mode -->
          <div class="my-2 text-right" *ngIf="authService.isAdmin()">
            <button *ngIf="isEdit" class="btn btn-primary btn-md" (click)="isEdit = false; article = _.cloneDeep(articleCopy); update();">
              <i class="mr-2 fa fa-save"></i> <span>Save</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</main>
